services:
  web:
    build: .
    ports:
      - "5001:5000"   # Flask sur port 5000 du conteneur, exposé sur 5001 local
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: flaskdb
    depends_on:
      - db

  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: flaskdb
    ports:
      - "3307:3306"   # MySQL exposé sur 3307 local
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
