name: CI Flask MySQL

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: flaskdb
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r app/requirements.txt

      - name: Wait for MySQL
        run: |
          for i in {1..20}; do
            mysql -h 127.0.0.1 -P 3306 -u root -proot -e "SELECT 1;" && break
            sleep 3
          done

      - name: Initialize database
        run: mysql -h 127.0.0.1 -P 3306 -u root -proot < db/init.sql

      - name: Run tests
        env:
          DB_HOST: 127.0.0.1
          DB_PORT: 3306
          DB_USER: root
          DB_PASSWORD: root
          DB_NAME: flaskdb
        run: pytest app/test_app.py
    # only if tests passed we continue to build and push the image
      - name: Set up QEMU (for cross-platform build)
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: nasiricoder26/flask-app:latest
          # optionally add multiple tags, platforms, cache if desired
          # platforms: linux/amd64,linux/arm64

      - name: Image pushed - show image
        run: echo "Image pushed: nasiricoder26/flask-app:latest"

