name: CI Flask MySQL

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    # Déclarer MySQL comme service
    services:
      db:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: flaskdb
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Configuration de Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Installation des dépendances
        run: |
          cd app
          pip install -r requirements.txt
          pip install pytest mysql-connector-python

      - name: Wait for MySQL to be ready
        run: sleep 20  # attendre que MySQL soit prêt

      - name: Tests unitaires
        env:
          DB_HOST: 127.0.0.1
          DB_USER: root
          DB_PASSWORD: root
          DB_NAME: flaskdb
        run: |
          cd app
          pytest

      - name: Build de l’image Docker
        run: docker build -t nasiricoder26/flask-app:latest .

      - name: Login Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        run: docker push nasiricoder26/flask-app:latest
