name: CI Flask MySQL

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Configuration de Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Installation des dépendances
        run: |
          cd app
          pip install -r requirements.txt

      - name: Tests unitaires
        run: |
          cd app
          pytest

      - name: Build de l’image Docker
        run: docker build -t nasiricoder26/flask-app:latest .
      - name: Login Docker Hub
        uses: docker/login-action@v2
        with:
             username: ${{ secrets.DOCKER_USERNAME }}
             password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        run: docker push nasiricoder26/flask-app:latest


